
<div class="flex align-items-center justify-content-between">
  <h1>Ingredients</h1>
  <button (click)="goToCreatePage()" pButton pRipple>Create a new ingredient</button>
</div>
<p-table
  *ngIf="!loading; else loadingTemplate"
  selectionMode="single"
  [value]="ingredients || []"
>
  <ng-template pTemplate="header">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Gluten</th>
      <th style="width: 5rem"></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-ingredient>
    <tr (click)="goToSpecificElement(ingredient.id)">
      <td>{{ingredient.id}}</td>
      <td>{{ingredient.name}}</td>
      <td>{{ingredient.gluten ? 'Yes' : 'No'}}</td>
      <td class="flex gap-2">
        <button
          type="button"
          pButton
          pRipple
          icon="pi pi-pencil"
          (click)="goToEditPage($event, ingredient.id)"
        ></button>
        <button
          type="button"
          pButton
          pRipple
          icon="pi pi-trash"
          (click)="deleteElement($event, ingredient.id)"
        ></button>
      </td>
    </tr>
  </ng-template>
</p-table>

<ng-template #loadingTemplate>
  <div class="flex justify-content-center">
    <p-progressSpinner></p-progressSpinner>
  </div>
</ng-template>
