
<div class="flex align-items-center justify-content-between">
  <h1>Orders</h1>
  <button (click)="goToCreatePage()" pButton pRipple>Create a new order</button>
</div>
<p-table
  selectionMode="single"
  [value]="elements"
>
  <ng-template pTemplate="header">
    <tr>
      <th>ID</th>
      <th>Customer</th>
      <th>Table number</th>
      <th style="width: 5rem"></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-order>
    <tr (click)="goToSpecificElement(order.id)">
      <td>{{order.id}}</td>
      <td>{{ order.customer.name + ' ' + order.customer.surname }}</td>
      <td>{{order.customer.table_number}}</td>
      <td class="flex gap-2">
        <button
          type="button"
          pButton
          pRipple
          icon="pi pi-pencil"
          (click)="goToEditPage($event, order.id)"
        ></button>
        <button
          type="button"
          pButton
          pRipple
          icon="pi pi-trash"
          (click)="deleteElement($event, order.id)"
        ></button>
      </td>
    </tr>
  </ng-template>
</p-table>

