<ng-container *ngIf="meal; else noMealTemplate" >
  <p><strong>ID:</strong> {{meal.id}}</p>
  <p><strong>Name:</strong> {{meal.name}}</p>
  <p><strong>Spiciness:</strong> {{meal.spiciness}}</p>
  <p><strong>Diet type:</strong> {{meal.dietType}}</p>
  <ul>
    <li *ngFor="let ingredient of meal.ingredients">
      <strong>ID:</strong> {{ingredient.id}}, <strong>Name:</strong> {{ingredient.name}}, <strong>Gluten:</strong> {{ingredient.gluten ? 'Yes' : 'No'}}
    </li>
  </ul>
</ng-container>
<ng-template #noMealTemplate>
  <p>No such meal exists.</p>
</ng-template>
